/* 微金所-响应式布局-首页样式 */
.wjs_header {
  border: 1px solid #ccc;
}
.wjs_header .container {
  height: 50px;
  line-height: 50px;
}
.wjs_header .container .row > div {
  text-align: center;
}
.wjs_header .container .row > div:nth-child(1),
.wjs_header .container .row > div:nth-child(2),
.wjs_header .container .row > div:nth-child(3) {
  border-right: 1px solid #ccc;
}
.wjs_header .container .row > div:nth-child(1) .wjs_qrcode {
  display: block;
  position: relative;
}
.wjs_header .container .row > div:nth-child(1) .wjs_qrcode:hover > img {
  display: block;
}
.wjs_header .container .row > div:nth-child(1) .wjs_qrcode > img {
  position: absolute;
  top: 49px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  border-top: none;
  display: none;
  z-index: 999;
}
.wjs_header .container .row > div:nth-child(4) .btn {
  padding: 3px 15px;
}
.wjs_header .container .row > div:nth-child(4) .btn-danger {
  background-color: #e92322;
  border-color: #e92322;
}
.wjs_header .container .row > div:nth-child(4) .btn-link {
  color: #333;
}
.wjs_header .container .row > div:nth-child(4) .btn-link:hover {
  text-decoration: none;
}
.wjs_nav {
  margin-bottom: 0;
  /* 重置 brand 样式 */
}
.wjs_nav .navbar-brand {
  height: 80px;
  padding-top: 0;
  line-height: 80px;
  font-size: 40px;
}
.wjs_nav .navbar-brand .wjs_icon_logo {
  color: #e92322;
}
.wjs_nav .navbar-brand .wjs_icon_text {
  color: #333;
}
.wjs_nav .navbar-nav > li > a {
  line-height: 50px;
  font-size: 16px;
}
.wjs_nav .navbar-nav > li > a:focus,
.wjs_nav .navbar-nav > li > a:hover {
  background-color: transparent;
  border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav > .active > a {
  background-color: transparent;
  border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav > .active > a:hover,
.wjs_nav .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.wjs_nav .navbar-toggle {
  margin-top: 23px;
}
.wjs_swiper .carousel-inner .item > a {
  display: block;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wjs_swiper .carousel-inner .item > a > img {
  width: 100%;
}
.wjs_info {
  padding: 30px;
}
.wjs_info .wjs_icon {
  font-size: 30px;
}
.wjs_info .container .row > div {
  margin-top: 20px;
}
.wjs_info .container .row > div > a {
  display: block;
}
.wjs_info .container .row > div > a:hover {
  color: #e92322;
}
.wjs_reverse {
  height: 60px;
  line-height: 60px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.wjs_reverse .container .row > div .wjs_icon {
  font-size: 18px;
}
.wjs_reverse .container .row > div .reverse-now {
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}
.wjs_reverse .container .row > div > a:hover {
  color: #e92322;
}
.wjs_partner {
  background-color: #eee;
  padding: 20px;
  text-align: center;
}
.wjs_partner .container .title {
  text-align: center;
}
.wjs_partner .container .partner-list {
  padding: 0;
  display: inline-block;
  list-style: none;
  overflow: hidden;
}
.wjs_partner .container .partner-list .wjs_icon {
  float: left;
  margin: 0 10px;
  font-size: 80px;
}
