/* 微金所-响应式布局-首页样式 */
@baseColor:#e92322;

.wjs_header{
    border: 1px solid #ccc;
    .container{
        height: 50px;
        line-height: 50px;
        .row{
            > div{
                text-align: center;
                &:nth-child(1),&:nth-child(2),&:nth-child(3){
                    border-right: 1px solid #ccc;
                }
                &:nth-child(1){
                    .wjs_qrcode{
                        display: block;
                        position: relative;
                        &:hover{
                            > img{
                                display: block;
                            }
                        }
                        > img{
                            position: absolute;
                            top: 49px;
                            left: 50%;
                            transform: translateX(-50%);
                            border: 1px solid #ccc;
                            border-top: none;
                            display: none;
                            z-index: 999;
                        }
                    }
                }
                &:nth-child(4){
                    .btn{
                        padding: 3px 15px;
                    }
                    .btn-danger{
                        background-color: #e92322;
                        border-color:#e92322; 
                    }
                    .btn-link{
                        color: #333;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
.wjs_nav{
    margin-bottom: 0;
    /* 重置 brand 样式 */
    .navbar-brand{
        height: 80px;
        padding-top: 0;
        line-height: 80px;
        font-size: 40px;
        .wjs_icon_logo{
            color: #e92322;
        }
        .wjs_icon_text{
            color: #333;
        }
    }
    .navbar-nav{
        >li{
            >a{
                line-height: 50px;
                font-size: 16px;
                &:focus,&:hover{
                    background-color: transparent;
                    border-bottom: 3px solid #e92322;
                }
            }
        }
    }
    .navbar-nav{
        >.active{
            >a{
                background-color: transparent;
                border-bottom: 3px solid #e92322;
                &:hover,&:focus{
                    background-color: transparent;//去除悬浮时的背景色
                }
            }
        }
    }
    .navbar-toggle{
        margin-top: 23px;
    }

}
.wjs_swiper{
    .carousel-inner{
        .item{
            >a{
                display: block;
                width: 100%;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                >img{
                    width: 100%;
                }
            }
        }
    }
}
.wjs_info{
    padding: 30px;
    .wjs_icon{
        font-size: 30px;
    }
    .container{
        .row{
            >div{
                margin-top: 20px;
                >a{
                    display: block;
                    &:hover{
                        color: #e92322;
                    }
                }
            }
        }
    }
}
.wjs_reverse{
    height: 60px;
    line-height: 60px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    .container{
        .row{
            >div{
                .wjs_icon{
                    font-size: 18px;
                }
                .reverse-now{
                    color: @baseColor;
                    border-bottom: 1px dashed @baseColor;
                }
                >a{
                    &:hover{
                        color: @baseColor;
                    }
                }
            }
        }
    }
}
.wjs_partner{
    background-color: #eee;
    padding: 20px;
    text-align: center;
    .container{
        // text-align: center;
        .title{
            text-align: center;
        }
        .partner-list{
            padding: 0;
            display: inline-block;//text-align只对行内块生效，改变display类型使其水平居中
            list-style: none;
            overflow: hidden;
            .wjs_icon{
                float: left;
                margin: 0 10px;
                font-size: 80px;
            }
        }
    }
}