/* 微金所-响应式布局-首页样式 */
.wjs_header {
  border: 1px solid #ccc;
}
.wjs_header .container {
  height: 50px;
  line-height: 50px;
}
.wjs_header .container .row > div {
  text-align: center;
}
.wjs_header .container .row > div:nth-child(1),
.wjs_header .container .row > div:nth-child(2),
.wjs_header .container .row > div:nth-child(3) {
  border-right: 1px solid #ccc;
}
.wjs_header .container .row > div:nth-child(1) .wjs_qrcode {
  display: block;
  position: relative;
}
.wjs_header .container .row > div:nth-child(1) .wjs_qrcode:hover > img {
  display: block;
}
.wjs_header .container .row > div:nth-child(1) .wjs_qrcode > img {
  position: absolute;
  top: 49px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  border-top: none;
  display: none;
}
.wjs_header .container .row > div:nth-child(4) .btn {
  padding: 3px 15px;
}
.wjs_header .container .row > div:nth-child(4) .btn-danger {
  background-color: #e92322;
  border-color: #e92322;
}
.wjs_header .container .row > div:nth-child(4) .btn-link {
  color: #333;
}
.wjs_header .container .row > div:nth-child(4) .btn-link:hover {
  text-decoration: none;
}
.wjs_nav {
  /* 重置 brand 样式 */
}
.wjs_nav .navbar-brand {
  height: 80px;
  padding-top: 0;
  line-height: 80px;
  font-size: 40px;
}
.wjs_nav .navbar-brand .wjs_icon_logo {
  color: #e92322;
}
.wjs_nav .navbar-brand .wjs_icon_text {
  color: #333;
}
.wjs_nav .navbar-nav > li > a {
  line-height: 50px;
  font-size: 16px;
}
.wjs_nav .navbar-nav > li > a:focus,
.wjs_nav .navbar-nav > li > a:hover {
  background-color: transparent;
  border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav > .active > a {
  background-color: transparent;
  border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav > .active > a:hover,
.wjs_nav .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.wjs_nav .navbar-toggle {
  margin-top: 23px;
}
